// =============================================================================
// Media
// =============================================================================
@mixin bp($point) {
    $bp-babybear: "(max-width: 600px)";
    $bp-mamabear: "(max-width: 1250px)";
    $bp-papabear: "(max-width: 1600px)";

    @if $point == papa-bear {
        @media #{$bp-papabear} {
            @content;
        }
    }
    @else if $point == mama-bear {
        @media #{$bp-mamabear} {
            @content;
        }
    }
    @else if $point == baby-bear {
        @media #{$bp-babybear}  {
            @content;
        }
    }
}
